---
import Layout  from '../layouts/Layout.astro';
import Header from "@/components/Header";
import Items from "@/components/Items";
import Footer from '@/components/Footer';
import Cta from '@/components/Cta';
import '../styles/global.css'
---

<Layout title="inmarketstores/Home">
	<section class="w-[700px] mt-12 px-12 mx-auto md:w-[800px]">
		<Header />
		<Items />
		<Cta />
		<Footer />
	</section>	
</Layout>
