---
import Layout from "../layouts/Layout.astro";
import MailForm from "./mail";
---




<Layout>
	<main>
        <div>
            <section>
                <h1 class="flex justify-center mt-4
                mb-4 text-4xl">Subscribe</h1>
                <span>Stay active with us to get the latest deals before everyone else, get discount codes at no price, get bestsellers and amazing finds straight to your mail.</span>
            </section>

            <div>
              <MailForm />
            </div>
        </div>
    </main>
</Layout>

<style>
    h1, label{
        font-family: 'Playfair Display', serif;
    }

    .btn-news{
        background-color: #32594A;
        letter-spacing: 0.8px;
    }
</style>


