---
// import Layout from "../layouts/Layout.astro";
// import NewsletterForm from "./mail";
---



<!-- 
<Layout>
	<main>
        <div>
            <section>
                <h1 class="flex justify-center mt-4
                mb-4 text-4xl">Subscribe</h1>
                <span>Stay active with us to get the latest deals before everyone else, get discount codes at no price, get bestsellers and amazing finds straight to your mail.</span>
            </section>

            <div  class="form">
                <!-- <form action="https://gmail.us13.list-manage.com/subscribe/post?u=54dffb2ead5aa689c69c39c90&amp;id=5d707caa7e&amp;f_id=00ea18e2f0" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form"  target="_blank" novalidate class="flex flex-col justify-center mx-auto w-full max-w-sm">
                    <div class="md:flex md:items-center mb-6">
                      <div class="md:w-1/3">
                        <label class="block  font-bold md:text-right mb-1 md:mb-0 pr-4" for="inline-full-name">
                          Full Name
                        </label>
                      </div>
                      <div class="md:w-2/3">
                        <input class="bg-white appearance-none border-2 border-gray-200 rounded w-full py-2 px-4 text-gray-700 leading-tight focus:outline-none focus:bg-white focus:border-blue-500" id="inline-full-name" type="text" name="FNAME" value="Jane Doe">
                      </div>
                    </div>
                    <div class="md:flex md:items-center mb-6">
                      <div class="md:w-1/3">
                        <label class="block  font-bold md:text-right mb-1 md:mb-0 pr-4" for="email">
                        Email Address
                        </label>
                      </div>
                      <div class="md:w-2/3">
                        <input class="bg-white appearance-none border-2 border-gray-200 rounded w-full py-2 px-4 text-gray-700 leading-tight focus:outline-none focus:bg-white focus:border-blue-500" name="EMAIL"  placeholder="johndoe@gmail.com">
                      </div>
                    </div>
                    <div class="md:flex md:items-center mb-6">
                      <div class="md:w-1/3"></div>
                      <label class="md:w-2/3 block text-gray-500 font-bold">
                        <input class="mr-2 leading-tight" type="checkbox">
                        <span class="text-sm">
                          Send me your newsletter!
                        </span>
                      </label>
                    </div>
                    <div class="md:flex md:items-center">
                      <div class="md:w-1/3"></div>
                      <div class="md:w-2/3">
                        <button class="btn-news shadow  focus:shadow-outline focus:outline-none text-white font-bold py-2 px-4 rounded" type="button">
                          Sign Up
                        </button>
                      </div>
                    </div>
                  </form> -->
            </div>
        </div>
    </main>
</Layout>

<style>
    h1, label{
        font-family: 'Playfair Display', serif;
    }

    .btn-news{
        background-color: #32594A;
        letter-spacing: 0.8px;
    }
</style> -->


