---
import Layout from "../layouts/Layout.astro";

---


<Layout>
<main>
    <div class="">
        <div>
            <section>
                <h2 class="font-semi-bold text-4xl">Shop quailty goods with invleads: Trusted Market places for <b>high-end goods</b></h2>

                <span class="flex mt-6 text-gray-600">
                    Invleads is the ultimate destination for savy shoppers looking for quailty goods. Our market place features a carefully curated selection of high-end products, ensuring that you have access to the best of the very best.
                </span>

                
            </section>
            <div class="desc--1 rounded-lg h-80 mt-12 w-full mx-auto md:w-full h-96">
                <section class="flex">
                    <span class="w-1/2">
                        <img class="bag--img h-[320px] ml-auto w-[300px] pt-6 pb-6 md:h-96 pb-12 mr-auto" src="./shoppingBag.png" alt="" >
                    </span>
                    <span class="w-1/2 text-2xl mr-auto pl-6 pt-16 md:text-3xl">
Shopping with us is easy and convenient.Get quailty service with us !
                    </span>
                    
                </section>
            </div>

            <div class="grids mt-[12em]  md:mt-[3em]">
                  <div class="col-1 flex-col px-[4.5em] text-center h-full">
                    <span class="text--header font-bold flex pt-6 mx-auto text-center text-3xl">We are committed to helping you
                   </span>
                   <span class="framer--text font-bold flex justify-center mx-auto text-3xl"> Dedicated to your own success</span>
                    <span> <img class="h-60 mx-auto mt-8 rounded w-[250px]" src="./committed.png" alt="committed" srcset=""></span>
                  </div>

                  <div class="col-2 flex-col h-full">
                    <span class="text--header font-bold pt-6 flex justify-center mx-auto text-3xl">Shop quailty goods
                  </span>
                    <span class="framer--text-1 font-bold flex justify-center pl-12 pr-12 text-center  text-3xl">Elevate your home and work with superior selection</span>

                    <span><img class="h-[270px] mx-auto mt-8 rounded pb-12  w-[250px]"  src="./quality.jpg" alt="quailty goods" ></span>
                </div>
            </div>
        </div>
    </div>
</main>
</Layout>


<style>

   
    b{
        color: rgb(141, 141, 143);
    }

    .framer--text{
        color: rgb(245, 130, 162);;
    }
    

    .framer--text-1{
        color: rgb(131, 221, 231);;
    }
    .text--header{
        color:rgba(32, 32, 32, 0.8);
    }
    .grids{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, 1fr);
        grid-column-gap: 2em;
        grid-row-gap: 30px;  
    }

    .bag--img{
        border-radius: 20px;
    } 

    .desc--1{
        background-color: #d1d5fa;
    }

    .col-1{
        background-color: #fab7c7;;
        border-radius: 4px;
    }

    .col-2{
        background-color: #c6f3f8;
        border-radius: 4px;
    }

    @media screen and (max-width: 760px){
        .grids{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(3, 1fr);
        grid-column-gap: 2em;
        grid-row-gap: 30px;
        width: 100%;
        margin: auto;
        margin-top: 5em;    
    }

    .col-2{
        grid-row: 2;
    }
    
}
</style>