---
import Layout from "../layouts/Layout.astro";
---



<Layout>
    <main class="mt-[5em]">
        <h1 class="flex justify-center text-3xl">Shop and Links</h1>
         <div class="links flex">
            <ul class="flex flex-col justify-center text-center mx-auto mt-6 gap-8">
                <li>
                    <a href="http://">AMAZON STORE FRONT</a>
                </li>
                <li>
                    <a href="http://">ALL LINKS</a>
                </li>
                <li>
                    <a href="http://">SUBSCRIBE TO OUR NEWSLETTER</a>
                </li>
                <li>
                    <a href="http://">FOLLOW US ON TIKTOK</a>
                </li>
                <li>
                    <a href="http://">FOLLOW US ON INSTAGRAM</a>
                </li>
                <li>
                    <a href="http://">CONTACT US</a>
                </li>
            </ul>
         </div>
    </main>    
</Layout>