---
import Layout from "../layouts/Layout.astro";


---



<Layout>
  
    <nav class="flex justify-end pr-12 py-6">
        <header class="flex absolute left-[-6em] mt-[-10em] md:left-0">
            <img src="./logo.png" class="" alt="logo" />
        </header>
        <ul class="flex gap-6">
            <li>About</li>
            <li>Contact</li>
        </ul>
      </nav>

</Layout>

<style>
    img{
       zoom: 0.8;
    }
</style>
