---
export interface Props {
	title?: string;
}

const { title } = Astro.props;
---

<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Hanken+Grotesk:wght@200;400;500;900&family=Playfair+Display:wght@500;700;900&display=swap" rel="stylesheet">
<script  id="mcjs">
!function(c,h,i,m,p){m=c.createElement(h),p=c.getElementsByTagName(h)[0],m.async=1,m.src=i,p.parentNode.insertBefore(m,p)}(document,"script","https://chimpstatic.com/mcjs-connected/js/users/54dffb2ead5aa689c69c39c90/abce028dc033bb21d3e4be36f.js");

</script>
		<title>{title}</title>
	</head>
	<body>
		<slot />
		
	</body>
</html>
<style is:global>
	*{
		font-family: 'Hanken Grotesk', sans-serif;
	}
</style>
